body {
    width: 65vw;
    height: 230vh;
    margin: 0 auto;
    /* border: 2px solid #000000; */
}

.main-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 5%;
    order: 1;
}

.logo-img-box {
    display: flex;
    width: 100%;
    margin-left: 2%;
}

.logo-img {
    display: flex;
    width: 25%;
}

.link-box {
    display: flex;
    gap: 40%;
    margin-right: 8%;
    font-size: 1.2vw;
}

.eng {
    color: #000;
    text-decoration: none;
}

.jpy {
    color: #000;
}

.map-box {
    display: flex;
    width: 100%;
    margin-top: 5%;
    order: 2;
}

.map-img {
    display: flex;
    width: 100%;
}

.service-img {
    display: flex;
    align-self: center;
    margin-top: 8%;
    width: 20%;
    height: auto;
    order: 3;
}

.service-msg {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 8%;
    order: 4;
}

.service1 {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 40vh;
}

.service1-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4473c5;
    width: 100%;
    height: 25%;
}

.service1-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d4d9ec;
    width: 100%;
    height: 75%;
}

.service-box1-fonts {
    display: flex;
    flex-shrink: 0;
    font-size: 1.2vw;
    line-height: 2vw;
}

.service-box2-fonts {
    display: flex;
    text-align: center;
    word-wrap: break-word;
    width: 75%;
    margin-top: 10%;
    font-size: 1.2vw;
    line-height: 2vw;
}

.service2 {
    display: flex;
    width: 24%;
    height: 100%;
    flex-direction: column;
}

.service2-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4473c5;
    width: 100%;
    height: 25%;
}

.service2-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d4d9ec;
    width: 100%;
    height: 75%;
}

.service3 {
    display: flex;
    width: 24%;
    height: 100%;
    flex-direction: column;
}

.service3-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4473c5;
    width: 100%;
    height: 25%;
}

.service3-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d4d9ec;
    width: 100%;
    height: 75%;
}

.service4 {
    display: flex;
    width: 24%;
    height: 100%;
    flex-direction: column;
}

.service4-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4473c5;
    width: 100%;
    height: 25%;
}

.service4-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d4d9ec;
    width: 100%;
    height: 75%;
}

.contact-img {
    display: flex;
    align-self: center;
    margin-top: 8%;
    width: 20%;
    height: auto;
    order: 5;
}

.contact-allbox {
    height: 100%;
    order: 6;
}

.contact-box {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1.5625%;
}

.contact-email-box {
    display: flex;
    flex-direction: column;
    width: 42%;
    height: 75%;
    margin-left: 0.5%;
    border: 2px solid #e6e6e6;
}

.contact-email-info-font {
    margin-left: 5%;
    margin-top: 5%;
}

.contact-email-info-title {
    font-size: 1vw;
    font-weight: bold;
    color: #5f5f5f;
}

.contact-email-info-address {
    font-size: 1vw;
    line-height: 1.8;
    color: #5f5f5f;
}

.contact-email-info-img-box{
    display: flex;
    margin-left: 2.5%;
    margin-top: 5%;
    gap: 21.5%;
}

.contact-email-whatsapp-img {
    width: 20%;
    height: auto;
}

.contact-email-wechat-img {
    width: 20%;
    height: auto;
}

.contact-address-box {
    display: flex;
    width: 52%;
    flex-direction: column;
}

.contact-address-map {
    width: 100%;
    height: 75%;
    border: 2px solid #e6e6e6;
}

.contact-address-map iframe {
    width: 100%;
    height: 100%;
}

.contact-address-info {
    margin-top: 12%;
    margin-left: 45%;
    font-size: 1vw;
    color: #5f5f5f;
}